@import "global/normalize.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/fonts.scss";

@import "blocks/page-header.scss";
@import "blocks/menu.scss";
@import "blocks/logo.scss";
@import "blocks/promo.scss";
@import "blocks/promo-origin.scss";
@import "blocks/advantages.scss";
@import "blocks/advantage.scss";
@import "blocks/search-hotel.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/hashtag.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/feedback";
@import "blocks/feedback-form.scss";
@import "blocks/gallery.scss";
@import "blocks/photos.scss";
@import "blocks/photo.scss";
@import "blocks/presentation.scss";
@import "blocks/video.scss";

@import "blocks/popup-failure";
@import "blocks/popup-success";


body {
  min-width: 320px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-transform: uppercase;
  min-width: 320px;
  text-align: center;
}

img{
  display: block;
}

.wrapper {
  @include container-fluid();
}

.word-wrap{
  display: none;
  @media ($tablet-widths){
    display:inline;
  }
}

.wrap{
  display: none;
  @media ($tablet-widths){
    display: block;
  }
}

.indent{
  display: none;
  @media ($tablet-widths){
    display:none;
  }
  @media ($desktop-widths){
    display: block;
  }
}
