@mixin title() {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@mixin container-fluid() {
  background-color: $white;
  width: auto;

  @media ($tablet-widths) {
    min-width: 768;
    max-width: 1199px;
    margin: 0 auto;
  }
  @media ($desktop-widths) {
    width: 1200px;
  }
}
