@mixin title() {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
}

@mixin container-fluid() {
  background-color: $white;
  width: 100%;

  @media ($desktop-widths) {
    width: 1200px;
    margin: 0 auto;
  }
}
