.advantage{
  &--gray-base{
    background-color:$lightgray;
    text-align: center;
    position: relative;
  }
  &--icons{
    padding: 25px 6%;
    @media ($tablet-widths) {
      padding: 60px 0;
      padding-bottom: 45px;
    }
  }
  @media ($tablet-widths) {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
}

.advantage__item{
  display: block;
  &--blue{
    background-color:$blue;
    color: $white;
    padding: 33px 10px;
    box-sizing: border-box;

    @media ($tablet-widths) {
      padding: 27px 5.6%;
      width: 33.333333%;
    }
    @media ($desktop-widths) {
      padding: 50px 60px;
    }
  }
  &--order{
    padding: 18px 10px;
    @media ($tablet-widths) {
      order: 2;
      padding: 25px 40px;
    }
  }
  &--gray{
    padding: 12px 0px;
    @media ($tablet-widths) {
      width: 33.333333%;
      padding: 25px 6.2%;
    }
    @media ($desktop-widths) {
      padding: 50px 66px;
    }
  }
  &--image{
    line-height: 0px;
    text-align: center;
    overflow: hidden;
    @media ($tablet-widths) {
     width: 66.666666%;
     height: auto;
   }
  }
  &--icon{
    text-align: left;
    padding: 5px 0px;
    padding-left: 50px;
    @media ($tablet-widths) {
     padding-left: 0px;
     padding-top: 100px;
     text-align: center;
   }
  }
  &--icon-house{
    background-image: url("../img/icon-house.svg");
	  background-position: left;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position-y: top;
    @media ($tablet-widths) {
      background-position: top;
      background-size: 75px 75px;
    }
  }
  &--icon-souvenirs{
    background-image: url("../img/icon-gift.svg");
	  background-position: left;
    background-repeat: no-repeat;
    background-size: 33px 35px;
    background-position-y: top;
    @media ($tablet-widths) {
      order: 1;
      background-position: top;
      background-size: 65px 75px;
      background-position-X: 80px;
    }
  }
  &--icon-food{
    background-image: url("../img/icon-burger.svg");
	  background-position: left;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position-y: top;
    @media ($tablet-widths) {
      background-position: top;
      background-size: 75px 69px;
      background-position-X: 82px;
    }
  }
}

.advantage__picture{
  width: 100%;
  height: auto;
  overflow: hidden;
  @media ($desktop-widths) {
    height: 300px;
  }
}

.advantage__item--triangle{
    position: relative;
    &:after {
     content: "";
     position: absolute;
     display: block;
     width: 100%;
     height: 37px;
     top: -21px;
     left: 0;
     background-image: url("../img/bg-triangle.svg");
     background-position: top;
     background-repeat: no-repeat;
     background-size: 100% 37px;
     @media ($tablet-widths) {
       display: none;
     }
     @media ($desktop-widths) {
       display: none;
     }
    }
}

.advantage__title{
  font-size: 21px;
  line-height: 26px;
  font-style: bold;
  @media ($tablet-widths) {
    padding: 0px;
  }
  @media ($desktop-widths) {
    padding: 0px 55px;
  }
  &--icon{
    margin-top: 0px;
  }
}

.advantage__item--gray:first-child{
  &:after{
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  top: 170px;
  background-color: #dbdbdb;
  right: 20px;
  left: 20px;
    @media ($tablet-widths) {
      display: none;
    }
  }
}

.advantage__item--gray:last-child{
  &::before{
  content: "";
  position: absolute;
  width: 280px;
  height: 1px;
  top: 340px;
  background-color: #dbdbdb;
  right: 20px;
  left: 20px;
    @media ($tablet-widths) {
      display: none;
    }
  }
}

.advantage__text{
  &--icon {
    @media ($tablet-widths) {
      text-align: center;
      padding: 0px 38px;
    }
  }
  &--gray {
    padding: 0px 35px;
    @media ($tablet-widths) {
      text-align: center;
      padding: 0px 5px;
    }
    @media ($desktop-widths) {
      padding: 0px;
    }
  }
}
