.copyright {
  display: flex;
  justify-content: center;
  line-height: 26px;
  font-weight: normal;
  @media ($tablet-widths) {
    width: 33.333333%;
    margin-top: 12px;
  }
}

.copyright__text{
  margin-right: 18px;
}

.copyright svg{
  &:hover{
    fill: #81b3d2;
  }
  &:active{
    fill: #b2b2b2;
  }
}
