.feedback-form{
  width: 100%;
  margin: 0 auto;
  @media ($tablet-widths) {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

.feedback-form__group{
  border-top: 1px solid #e5e5e5;
  text-align:left;
  padding: 8px 20px;
  margin-bottom: 20px;
  position: relative;

  @media ($tablet-widths) {
    padding: 0px;
    border: none;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(1) {
      width: 50%;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding-left: 57px;
    }

    &:nth-child(3) {
      order: -1;
      width:50%;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      &::after{
        position: absolute;
        content: "";
        width: 1px;
        height: 300px;
        background-color: #dbdbdb;
        right: 0;
        top: 18px;
      }
    }
    &:nth-child(2) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
    }
    &:nth-child(5) {
      align-items: center;
    }
  }
  @media ($desktop-widths){
    position: relative;
    width: 100%;
    &:nth-child(1) {
      padding-left: 60px;
    }
    &:nth-child(1) {
      padding-left: 79px;
    }
  }
}

.feedback-form__legend{
  text-align:center;
  padding: 7px 0px;
  @include title();
  &--place{
    padding-bottom: 30px;
  }
  @media ($tablet-widths){
    width: 286px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    font-size: 21px;
    line-height: 26px;
    &--left{
      text-align: left;
      margin: 0;
      margin-bottom: 10px;
    }
    &--line{
      padding: 4px 0px;
    }
    &--place{
      padding-bottom: 20px;
    }
    &--bottom{
      margin-bottom: 0px;
    }
  }
  @media ($desktop-widths){
    &--left{
      padding-left: 80px;
    }
    &--bottom{
      padding-left: 0px;
    }
  }
}

.feedback-form__item{
  width: 100%;
  padding-top: 20px;
  position: relative;
  display: block;
    @media ($tablet-widths){
      &--rise{
      padding-top: 0px;
      }
      &--name{
      padding-top: 0px;
      }
    }
}

.feedback-form__item--line{
  padding-top: 0px;
}

.feedback-form__item--indent{
  margin-top: 14px;
}

.feedback-form__item--order{
  padding-top: 0px;
}

.feedback-form__name{
  border: 0px;
  padding: 15px 0px;
  padding-left: 22px;
  background-color: #f2f2f2;
  color:black;
  margin-right: 0px;
  margin-left: 11px;
  border: 4px solid #f2f2f2;
  box-sizing: border-box;
  &:hover{
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
  }
  &:focus,
  &:focus:hover{
    background: white;
    border: 4px solid #e5e5e5;
  }
    @include title();

    &--long{
      width: 228px;
    }
    &--short{
      width: 191px;
    }
    &--short-two{
      width: 195px;
    }
    @media ($tablet-widths) {
      &--long{
        width: 215px;
      }
      &--short{
        width: 178px;
      }
      &--short-two{
        width: 182px;
      }
    }
    @media ($desktop-widths) {
      &--long{
        width: 349px;
      }
      &--short{
        width: 312px;
      }
      &--short-two{
        width: 317px;
      }
    }
}

.feedback-form__group--contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  @media ($tablet-widths) {
    position: relative;
    width: 100%;
    margin: 26px 0px;
    margin-bottom: 48px;
  }
  @media ($desktop-widths) {
    position: relative;
    width: 100%;
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
}

.feedback-form__label {
  margin-bottom: 9px;
  margin-left: 23px;
  display: block;
  @media ($tablet-widths) {
    margin-bottom: 9px;
  }
  @media ($desktop-widths) {
    margin-left: 0px;
    &--phone{
      margin-left: 0;
      margin-right: 24px;
    }
    &--email{
      width: 148px;
      margin-right: 21px;
    }
  }
}

.feedback-form__check {
  color: #ff7272;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 14px;
  margin-top: 4px;
  margin-left: 22px;
  @media ($tablet-widths) {
    position: absolute;
    margin: 0px;
    right: 0;
    bottom: 187px;
  }
  @media ($desktop-widths) {
    order: -1;
    left: 115px;
    bottom: 80px;
  }
}

.feedback-form__check--nojs .feedback-form__check{
   display: block;
}

.feedback-form__item--contact {
  position: relative;
  @media ($desktop-widths) {
    display: flex;
    align-items: baseline;
    margin-top: 40px;
  }
}

.feedback-form__level{
  &:first-child{
    margin-bottom: 23px;
  }
  @media ($tablet-widths) {
    &:first-child{
      margin-bottom: 16px;
    }
  }
  @media ($desktop-widths) {
    width: 50%;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

.feedback-form__hide{
  @media ($desktop-widths) {
    display: none;
  }
}

.feedback-form__field{
  position: relative;
  margin-top: 10px;
  width: 280px;
  @media ($tablet-widths) {
   width: 648px;
 }
 @media ($desktop-widths) {
   width: 315px;
   margin-top: 0px;
 }
}

.feedback-form__icon {
  position: absolute;
  width: 60px;
  height: 54px;
  display: inline;
  background: #e6e6e6;
  right: 0px;
  top: 0;

  &:after{
    display: inline;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }
  @media ($tablet-widths) {
    height: 54px;
  }
  @media ($desktop-widths) {
    right: 0px;
  }
}

.feedback-form__icon--phone:after {
  content: url("../img/icon-phone.svg");
  width: 18px;
}

.feedback-form__icon--email:after {
  content: url("../img/icon-mail.svg");
  width: 16px;
}

.feedback-form input::-webkit-input-placeholder {
  color: #000000;
}

.feedback-form__check--closed .feedback-form__check {
    display: none;
}

.feedback-form__check--nojs .feedback-form__check{
   display: block;
}

.feedback-form__input {
  width: 279px;
  padding: 15px 0px;
  padding-left: 20px;
  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
  box-sizing: border-box;
  &:hover{
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
  }
  &:focus,
  &:focus:hover{
    background: white;
    border: 4px solid #e5e5e5;
  }
  @media ($tablet-widths) {
    width: 647px;
    &--phone {
        margin-bottom: 21px;
      }
  }
  @media ($desktop-widths) {
    width: 312px;
    padding: 15px 12px;
    &--phone {
        margin-bottom: 0px;
      }
  }
}

.feedback-form input::-webkit-input-placeholder {
  color: #000000;
}

.feedback-form__group--feeling{
  margin-bottom: 20px;
}

.feedback-form__group--feeling label {
  position: relative;
  text-transform: none;
  display: block;
  margin-bottom: 20px;
  margin-left: 80px;
  cursor: pointer;
    @include title();
  @media ($tablet-widths){
    margin-bottom: 33px;
  }
}

.feedback-form__group--feeling input {
  display: none;
}

.feedback-form__group--feeling label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 60px;
  left: -80px;
  top: -12px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

input[name="emotion"]:checked + label::after {
  display: block;
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: -63px;
  top: 4px;
  border-radius: 50%;
  background-color: #000000;
}

.feedback-form__group--feeling label:hover::before {
  background-color: #e5e5e5;
}

.feedback-form__group--feeling label:active::before {
  background-color: #d5d5d5;
}

input[name="emotion"]:checked + label:active::after {
  background-color: #a4a4a4;
}

.feedback-form__group--place{
  margin-bottom: 0px;
  padding-bottom: 0px;
  @media ($tablet-widths){
    margin-top: 20px;
  }
  @media ($desktop-widths) {
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

.feedback-form__group--place input {
  display: none;
}

.feedback-form__group--place label {
  position: relative;
  display: block;
  text-transform: none;
  margin-left: 80px;
  margin-bottom: 55px;
    @include title();
    @media ($tablet-widths){
      margin-left: 90px;
    }
}

.feedback-form__group--place label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -80px;
  top: -15px;
  border-radius: 15%;
  background-color: #f2f2f2;
}

input[name="place"]:checked + label::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 10px;
  left: -62px;
  top: 4px;
  background-color: #f2f2f2;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(-45deg);
}

.feedback-form__group--place label:hover::before {
  background-color: #e5e5e5;
}

.feedback-form__group--place label:active::before {
  background-color: #d5d5d5;
}

input[name="place"]:checked + label:hover::after {
  background-color: #e5e5e5;
}

input[name="place"]:checked + label:active::after {
  border-left: 4px solid #a4a4a4;
  border-bottom: 4px solid #a4a4a4;
  background-color: #d5d5d5;
}

.feedback-form__wrapper{
  @media ($tablet-widths) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding-left: 30px;
    margin-bottom: 0px;
  }
  @media ($desktop-widths) {
    width: 100%;
    padding-left: 0px;
  }
}

.feedback-form__item--order{
  @media ($tablet-widths) {
    margin-top: 38px;
    width: 40%;
    &:nth-child(1) {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
  @media ($desktop-widths) {
    width: 25%;
    padding-left: 0px;
  }
}

.feedback-form__item--comment textarea {
  width: 280px;
  height: 160px;
  border: none;
  padding: 15px 12px;
  background: $lightgray;
  color: black;
  font-size: 18spx;
  line-height: 26px;
  font-weight: bold;
  resize: none;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;;
  }
  &:focus,
  &:focus:hover{
    background: white;
    border: 4px solid #e5e5e5;
  }
  @media ($tablet-widths) {
    width: 648px;
    height: 160px;
    padding: 17px 18px;
    margin: 30px auto;
  }
  @media ($desktop-widths) {
    width: 960px;
  }
}

.feedback-form__bottom{
  @media ($tablet-widths) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

.feedback-form__notice{
  @media ($mobile-widths-only){
    display: none;
  }
  @media ($tablet-widths) {
    padding-top: 12px;
  }
}

.feedback-form__btn{
  display: block;
  width: 280px;
  padding: 15px 0px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue;
  border: 0;

  &:hover{
    background-color: #669ec0;
  }
  &:active{
    background-color: #5496bd;
      color: #88b6d1;
  }
  @media ($tablet-widths) {
    margin: 0;
    margin-top: 10px;
    width: 322px;
  }
  @media ($desktop-widths) {
    width: 480px;
  }
}

.feedback-form__legend--line::before {
  @media ($tablet-widths){
    position: absolute;
    content: "";
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    top: 22px;
  }
  @media ($desktop-widths){
    width: 300px;
    top: 18px;
  }
}

.feedback-form__legend--line::after {
  @media ($tablet-widths){
    position: absolute;
    content: "";
    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
    right: 0;
    top: 22px;
  }
  @media ($desktop-widths){
    width: 300px;
    top: 18px;
  }
}
