.feedback-form{
  width: 100%;
  margin: 0 auto;
  @media ($tablet-widths) {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

.feedback-form__group{
  border-top: 1px solid #e5e5e5;
  text-align:left;
  padding: 20px 0px;
  margin-bottom: 30px;
  position: relative;

  @media ($tablet-widths) {
    width: 100%;
    padding: 0px;
    border: none;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(1) {
      width: 50%;
      flex-direction: column;
      justify-content: space-between;
    }

    &:nth-child(3) {
      order: -1;
      width:50%;
      justify-content: space-between;
      flex-direction: column;
    }
    &:nth-child(2) {
      flex-direction: column;
      align-items: center;
    }
    &:nth-child(4) {
      flex-direction: column;
    }

    &:nth-child(5) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.feedback-form__legend{
  text-align:center;
  padding: 20px 0px;
  @include title();

  @media ($tablet-widths){
    width: 286px;
    margin: 0 auto;
    text-align: center;
    &--left{
      text-align: left;
      margin: 0;
    }
  }
}

.feedback-form__item{
  width: 100%;
  padding-top: 20px;
}

.feedback-form__name{
  border: 0px;
  padding: 20px 0px;
  padding-left: 22px;
  background-color:$lightgray;
  color:black;
  margin-right: 0px;
    @include title();

    &--long{
      width: 230px;
    }
    &--short{
      width: 190px;
    }
    &--short-two{
      width: 194px;
    }
}

.feedback-form__group--contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  @media ($tablet-widths) {
    position: relative;
    width: 100%;
    padding-bottom: 6px;
  }
  @media ($desktop-widths) {
    position: relative;
    width: 100%;
    padding-bottom: 53px;
  }
}

.feedback-form__label {
  margin-bottom: 9px;
  margin-left: 23px;
  @media ($tablet-widths) {
    margin-bottom: 9px;
  }
  @media ($desktop-widths) {
    &--phone{
      margin-left: 0;
      margin-right: 21px;
    }
    &--email{
      width: 148px;
      margin-right: 22px;
    }
  }
}

.feedback-form__check {
  color: #ff7272;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 14px;
  margin-top: 4px;
  margin-left: 22px;
  @media ($tablet-widths) {
    position: absolute;
    margin: 0px;
    right: 0;
    top: 0;
  }
  @media ($desktop-widths) {
    order: -1;
    width: 100%;
    left: 200px;
    top: -15px;
  }
}

.feedback-form__input {
  width: 280px;
  padding: 20px 0px;
  padding-left: 20px;
  border: none;
  &:hover{
    background: #e5e5e5;
    border: 4px solid #e5e5e5;
  }
  &:focus,
  &:focus:hover{
    background: white;
    border: 4px solid #e5e5e5;
  }
  @media ($tablet-widths) {
    width: 100%;
    &--phone {
        margin-bottom: 21px;
      }
  }
  @media ($desktop-widths) {
    width: 350px;
    height: 30px;
  }
}

.feedback-form__item--contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media ($tablet-widths) {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media ($desktop-widths) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: inline-block;
    vertical-align: middle;
  }
}

.feedback-form__group--contacts input[type="tel"] {
  background: url("../img/icon-phone.svg") right 20px top 20px no-repeat;
  background-color: #f2f2f2;
}

.feedback-form__group--contacts input[type="email"] {
  background: url("../img/icon-mail.svg") right 20px top 20px  no-repeat;
  background-color: #f2f2f2;
}

.feedback-form input::-webkit-input-placeholder {
  color: #000000;
}

.feedback-form__group--feeling label {
  position: relative;
  text-transform: none;
  display: block;
  margin-bottom: 45px;
  margin-left: 80px;
  cursor: pointer;
    @include title();
}

.feedback-form__group--feeling input {
  display: none;
}

.feedback-form__group--feeling label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -80px;
  top: -15px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

input[name="emotion"]:checked + label::after {
  display: block;
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  left: -63px;
  top: 2px;
  border-radius: 50%;
  background-color: #000000;
}

.feedback-form__group--feeling label:hover::before {
  background-color: #e5e5e5;
}

.feedback-form__group--feeling label:active::before {
  background-color: #d5d5d5;
}

input[name="emotion"]:checked + label:active::after {
  background-color: #a4a4a4;
}

.feedback-form__group--place input {
  display: none;
}

.feedback-form__group--place label {
  position: relative;
  display: block;
  text-transform: none;
  margin-left: 80px;
  margin-bottom: 40px;
    @include title();
}

.feedback-form__group--place label::before {
  display: block;
  position: absolute;
  content: '';
  width: 55px;
  height: 55px;
  left: -80px;
  top: -15px;
  border-radius: 15%;
  background-color: #f2f2f2;
}

input[name="place"]:checked + label::after {
  position: absolute;
  content: '';
  width: 17px;
  height: 10px;
  left: -62px;
  top: 4px;
  background-color: #f2f2f2;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transform: rotate(-45deg);
}

.feedback-form__group--place label:hover::before {
  background-color: #e5e5e5;
}

.feedback-form__group--place label:active::before {
  background-color: #d5d5d5;
}

input[name="place"]:checked + label:hover::after {
  background-color: #e5e5e5;
}

input[name="place"]:checked + label:active::after {
  border-left: 4px solid #a4a4a4;
  border-bottom: 4px solid #a4a4a4;
  background-color: #d5d5d5;
}

.feedback-form__wrapper{
  @media ($tablet-widths) {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
}

.feedback-form__item--order{
  @media ($tablet-widths) {
    margin-top: 35px;
    width: 40%;
    &:nth-child(1) {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
  @media ($desktop-widths) {
    width: 25%;
    padding-left: 0px;
  }
}

.feedback-form__item--comment textarea {
  width: 100%;
  height: 160px;
  border: none;
  padding: 15px 0px;
  padding-left: 10px;
  background: $lightgray;
  color: black;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  resize: none;
  &:hover {
    background-color: #e5e5e5;;
  }
  &:focus,
  &:focus:hover{
    background: white;
    border: 4px solid #e5e5e5;
  }
  @media ($tablet-widths) {
    width: 100%;
    margin: 0 auto;
  }
}

.feedback-form__bottom{
  @media ($tablet-widths) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

.feedback-form__notice{
  @media ($mobile-widths-only){
    display: none;
  }
}

.feedback-form__btn{
  display: block;
  width: 280px;
  padding: 15px 0px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue;
  border: 0;

  &:hover{
    background-color: #669ec0;
  }
  &:active{
    background-color: #5496bd;
      color: #88b6d1;
  }
  @media ($tablet-widths) {
    margin: 0;
  }
}

.feedback-form__legend--line::before {
  @media ($tablet-widths){
    position: absolute;
    content: "";
    width: 125px;
    height: 2px;
    background-color: #f2f2f2;
    left: 0;
    top: 27px;
  }
}

.feedback-form__legend--line::after {
  @media ($tablet-widths){
    position: absolute;
    content: "";
    width: 125px;
    height: 2px;
    background-color: #f2f2f2;
    right: 0;
    top: 27px;
  }
}
