.feedback{
  padding: 0px 30px;
  @media ($tablet-widths) {
      margin: 75px 0;
  }
}

.feedback__lead{
  padding-top: 40px;
  padding-bottom: 20px;
  @media ($tablet-widths) {
      padding: 0px 120px;
  }
}
