.logo{
  position: relative;
  margin: 0 auto;
  width: 102px;
  height: 56px;

  @media ($tablet-widths) {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media ($desktop-widths) {
    height: 96px;
  }
}
