.map {
  overflow:hidden;
  position:relative;
  height: 349px;

  @media ($tablet-widths) {
    width: 100%;
  }

  @media ($desktop-widths) {
    width: 100%;
  }
}

.map iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
