.page-header {
  position: relative;
  background-color: $white;
  min-height: 56px;
  top: 0px;

  @media ($tablet-widths) {
      position: relative;
      height: 0px;
      min-height: 56px;
  }
}
