.page-header{
  position: relative;
  background-color: $white;

  @media ($tablet-widths) {
      height: 56px;
      background-color: $white;
      padding-bottom: 0px;
      display: flex;
      flex-direction: column;
  }

  @media ($desktop-widths) {
      padding-bottom: 0px;
  }
}

.page-header__toggle{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 60px;
  min-height: 55px;
  font-size: 0;
  background-color: #e5f2fa;
  cursor: pointer;
  border: none;
}
