.promo{
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $blue;
}

.promo__image{
  width: 280px;
  height: 214px;
  padding-top: 90px;
  padding-bottom: 85px;
}
