.search-hotel{
  padding: 10px 20px;
}

.search-hotel__title{
  line-height: 26px;
  font-size: 26px;
}

.search-hotel__description{
  padding: 0px 25px;
}

.search-hotel__btn{
  display: block;
  width: 280px;
  padding: 15px 0px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 49px;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue;

  &:hover{
    background-color: #669ec0;
  }
  &:active{
    background-color: #5496bd;
      color: #88b6d1;
  }
}
