.social{
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-size: 0px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 38px;
  width: 156px;
  @media ($tablet-widths) {
    width: 155px;
    margin-top: 35px;
  }
}

.social__btn{
  position: relative;
  width: 47px;
  height: 48px;
  background-color: $blue;
  font-size: 0;
  &:hover{
    background-color: #669ec0;
  }
  &:active{
    background-color: #5496bd;
  }
}

.social__btn--tw {
  fill: white;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  &:active{
    background-color: #5496bd;
    opacity: 2;
    fill: #88b6d1;
  }
}

.social__btn--fb {
  fill: white;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  &:active{
    background-color: #5496bd;
    opacity: 2;
    fill: #88b6d1;
  }
}

.social__btn--tube {
  fill: white;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  position: absolute;
  &:active{
    background-color: #5496bd;
    opacity: 2;
    fill: #88b6d1;
  }
}
